.blog {
    @include backgroundSetup;
    grid-template-areas: 
    "header header"
    "main side"
    "main side"
    "footer footer";

    &__header {
        grid-area: header;
    }

    &__navOne {
        grid-area: header;
    }

    &__main {
        grid-area: main;
    }

    &__featured {
        display: grid;
        grid-template-areas: 
        "title title"
        "photo description";
        grid-gap: 5rem;

        &--title {
            grid-area: title;
        }

        &--photo {
            grid-area: photo;
        }

        &--description {
            grid-area: description;
        }

    }

    &__reviews {
        display: grid;
        grid-template-areas:
        "title title"
        "description description"
        "review review";

        &--title {
            grid-area: title;
        }

        &--description {
            grid-area: description;
        }

        &--container {
            grid-area: review;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

    }

    &__side {
        grid-area: side;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__footer {
        grid-area: footer;
    }
}

.post {
    @include backgroundSetup;
    grid-template-areas:
    "header"
    "main"
    "footer";

    &__header {
        grid-area: header;
    }

    &__main {
        grid-area: main;
    }

    &__footer {
        grid: footer;
    }
}