@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
.blog {
  padding: 3rem;
  background-color: rgba(66, 33, 61, 0.414);
  display: grid;
  grid-template-areas: "header header" "main side" "main side" "footer footer";
}
.blog__header {
  grid-area: header;
}
.blog__navOne {
  grid-area: header;
}
.blog__main {
  grid-area: main;
}
.blog__featured {
  display: grid;
  grid-template-areas: "title title" "photo description";
  grid-gap: 5rem;
}
.blog__featured--title {
  grid-area: title;
}
.blog__featured--photo {
  grid-area: photo;
}
.blog__featured--description {
  grid-area: description;
}
.blog__reviews {
  display: grid;
  grid-template-areas: "title title" "description description" "review review";
}
.blog__reviews--title {
  grid-area: title;
}
.blog__reviews--description {
  grid-area: description;
}
.blog__reviews--container {
  grid-area: review;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog__side {
  grid-area: side;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.blog__footer {
  grid-area: footer;
}

.post {
  padding: 3rem;
  background-color: rgba(66, 33, 61, 0.414);
  display: grid;
  grid-template-areas: "header" "main" "footer";
}
.post__header {
  grid-area: header;
}
.post__main {
  grid-area: main;
}
.post__footer {
  grid: footer;
}

.blog__header {
  text-align: center;
  padding-top: 10rem;
  background-color: #42213d;
  color: antiquewhite;
  margin-bottom: 4rem;
}

.blog__title {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 3rem;
}
.blog__title--description {
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
}

.blog__navOne {
  font-size: 1.9rem;
  display: flex;
  justify-content: space-around;
}
.blog__navOne--link {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #42213d;
  color: antiquewhite;
  padding: 4rem 0;
  letter-spacing: 0.4rem;
}
.blog__navOne--link:hover {
  font-size: 2rem;
  transition: 0.3s ease-in;
}

.blog__footer {
  text-align: center;
  background-color: #42213d;
}

.blog__navTwo {
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
}
.blog__navTwo--link {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #42213d;
  color: antiquewhite;
  padding: 4rem 0;
  letter-spacing: 0.4rem;
}
.blog__navTwo--link:hover {
  font-size: 1.7rem;
  transition: 0.3s ease-in;
}

.blog__featured {
  margin-bottom: 10rem;
}
.blog__featured--title {
  color: antiquewhite;
  font-size: 4.5rem;
  padding: 2.5rem;
  background-color: rgba(66, 33, 61, 0.701);
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin: 5rem auto;
  font-weight: 300;
  max-width: 60%;
  border-radius: 2rem;
  text-align: center;
}
.blog__featured--photo {
  max-width: 90%;
  margin: 0 auto;
  border-radius: 10rem;
  border: 1.5rem solid #42213d;
}
.blog__featured--description {
  color: #000;
  max-width: 60%;
  line-height: 1.7;
  font-size: 4rem;
}
.blog__featured--descriptionHeader {
  font-size: 4.2rem;
  letter-spacing: 0.3rem;
  font-style: italic;
  text-decoration: underline;
}
.blog__featured--descriptionLink {
  color: #42213d;
  text-decoration: none;
}
.blog__featured--descriptionLink:hover {
  text-decoration: underline;
}

.blog__reviews--title {
  color: antiquewhite;
  font-size: 4.5rem;
  padding: 2.5rem;
  background-color: rgba(66, 33, 61, 0.701);
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin: 5rem auto;
  font-weight: 300;
  max-width: 60%;
  border-radius: 2rem;
  text-align: center;
}
.blog__reviews--description {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin: 5rem auto;
}

.blog__review {
  background-color: rgba(66, 33, 61, 0.701);
  max-width: 70%;
  color: antiquewhite;
  font-size: 2.7rem;
  border-radius: 1rem;
  padding: 5rem;
  margin: 5rem auto;
}
.blog__review--text {
  line-height: 1.6;
  max-width: 100%;
  font-weight: 300;
}
.blog__review--reviewer {
  font-weight: 500;
}

.blog__side--title {
  background-color: rgba(66, 33, 61, 0.701);
  color: antiquewhite;
  font-size: 2.7rem;
  text-transform: uppercase;
  text-align: center;
  padding: 3rem;
  letter-spacing: 1rem;
  border-radius: 1rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
  font-weight: 300;
}
.blog__side--description {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  font-weight: 400;
  max-width: 90%;
  text-align: center;
}
.blog__side--titles {
  font-size: 2.5rem;
  list-style: none;
  text-align: center;
  background-color: rgba(66, 33, 61, 0.701);
  border-radius: 2rem;
}
.blog__side--titles li {
  margin-bottom: 3rem;
  color: antiquewhite;
  padding: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Rubik", sans-serif;
}

/*# sourceMappingURL=style.css.map */
