.blog__side {
    &--title {
        @include upcomingTitle;
        margin-bottom: 5rem;
    }

    &--description {
        font-size: $baseFontSize;
        margin-bottom: 4rem;
        font-weight: 400;
        max-width: 90%;
        text-align: center;
    }

    &--titles {
        font-size: $baseFontSize;
        list-style: none;
        text-align: center; 
        background-color: $upcomingTitleBackgroundColor;
        border-radius: 2rem;

        & li {
            margin-bottom: 3rem;
            color: $upcomingTitleColor;
            padding: 1.5rem;
        }
    }

    &--signUp {
        &Title {
            @include upcomingTitle;
            margin-bottom: 5rem;
            margin-top: 30rem;
        }

        &Form {
            font-size: 3rem;
            margin: 1rem;
            padding: 1rem;

            &Name, &Email {
                padding: 2rem;

                & input {
                    font-size: 3rem;
                    border-radius: 2rem;
                }
            }

            &Button {
                & input {
                    background-color: $upcomingTitleBackgroundColor;
                    color: $upcomingTitleColor;
                    padding: 2.5rem;
                    font-size: 2.3rem;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 2rem;
                    margin-top: 4rem;
                    margin-left: 1rem;

                    &:hover {
                        font-size: 3.2rem;
                        text-decoration: underline;
                        transition: ease-out .5s;
                    }
                }
            }
        }

    }

}