.blog__featured {
    margin-bottom: 10rem;
    border: .5rem solid $secondaryTitleBackgroundColor;
    border-radius: 3rem;
    margin-right: 3rem;
    margin-left: 3rem;

    &--title {
        @include secondaryHeading;
    }
    
    &--photo {
        max-width: 80%;
        margin: 0 auto;
        border-radius: 10rem;
        border: 1.3rem solid $headerBackgroundColor;
    }
    
    &--description {
        color: $baseColor;
        max-width: 70%;
        line-height: 1.7;
        font-size: 3.5rem;
        
        &Header{
            font-size: 4.2rem;
            letter-spacing: .3rem;
            font-style: italic;
            text-decoration: underline;
        }

        &Link {
            color: $featuredLinkColor;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
    