.blog {
  @include backgroundSetup;
  grid-template-areas:
    "header header"
    "main side"
    "main side"
    "footer footer";

  &__header {
    grid-area: header;
  }

  &__navOne {
    grid-area: header;
  }

  &__main {
    grid-area: main;
  }

  &__featured {
    display: grid;
    grid-template-areas:
      "title title"
      "photo description";
    grid-gap: 5rem;

    &--title {
      grid-area: title;
    }

    &--photo {
      grid-area: photo;
    }

    &--description {
      grid-area: description;
    }
  }

  &__reviews {
    display: grid;
    grid-template-areas:
      "title title"
      "description description"
      "review review";

    &--title {
      grid-area: title;
    }

    &--description {
      grid-area: description;
    }

    &--container {
      grid-area: review;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__side {
    grid-area: side;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__footer {
    grid-area: footer;
  }
}

.post {
  @include backgroundSetup;
  grid-template-areas:
    "header"
    "main"
    "footer";

  &__header {
    grid-area: header;
  }

  &__main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      "title"
      "photo"
      "description"
      "article";

    &--title {
      grid-area: title;
    }

    &--photo {
      grid-area: photo;
    }

    &--description {
      grid-area: description;
    }

    &--article {
      grid-area: article;
    }
  }

  &__footer {
    grid-area: footer;
  }
}

@media screen and (max-width: 600px) {
  .blog {
    padding: 0;
    text-align: center;
    grid-template-areas:
      "header"
      "main"
      "side"
      "footer";

    &__header {
      grid-area: header;
    }

    &__title {
      grid-area: heading;
      &--description {
        font-size: 3rem;
      }
    }

    &__navOne {
      padding-top: 5rem;
      display: flex;
      flex-direction: column;

      &--link {
        font-size: 2.5rem;
      }
    }

    &__featured {
      grid-area: main;
      display: grid;
      grid-template-areas:
        "title"
        "photo"
        "description";

      &--title {
        grid-area: title;
        font-size: 4rem;
        max-width: 90%;
      }

      &--photo {
        grid-area: photo;
        max-width: 90%;
      }

      &--description {
        grid-area: description;
        font-size: 3rem;
        margin: 0 auto;
        max-width: 90%;

        &Header {
          font-size: 3.5rem;
        }
      }
    }

    &__reviews {
      grid-area: main;
      display: grid;
      grid-template-areas:
        "title"
        "description"
        "review";

      &--title {
        grid-area: title;
        max-width: 90%;
        font-size: 3rem;
      }

      &--description {
        grid-area: description;
      }
    }

    &__side {
      margin-bottom: 4rem;
      &--title {
        width: 80%;
        margin: 0 auto;
        line-height: 1.5;
      }

      &--description {
        font-size: 1rem;
      }

      &--titles {
        width: 80%;
        margin: 5rem auto;
        font-weight: 300;
      }
    }

    &__navTwo {
      display: flex;
      flex-direction: column;

      &--link {
        font-size: 2.5rem;
      }
    }
  }

  .post {
    padding: 0;

    &__navOne {
      display: flex;
      flex-direction: column;
      padding-top: 5rem;

      &--link {
        font-size: 2.5rem;
      }
    }

    &__main {
      &--title {
        font-size: 3rem;
        max-width: 90%;
      }

      &--photo {
        border: 1rem solid $headerBackgroundColor;
        max-width: 80%;
      }

      &--description {
        font-size: 2.2rem;
        line-height: 1.9;
      }

      &--article {
        font-size: 2.2rem;

        & li {
          padding: 1.5rem;
        }
      }
    }

    &__navTwo {
      flex-direction: column;

      &--link {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .blog {
    padding: 0;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "side"
      "footer";

    &__header {
      grid-area: header;
    }

    &__title {
      margin-bottom: 6rem;

      &--description {
        margin-bottom: 6rem;
      }
    }

    &__navOne {
      grid-area: header;

      &--link {
        grid-area: header;
        padding: 2rem;
        font-size: 1.8rem;
      }
    }

    &__featured {
      border: none;
      grid-area: main;
      display: grid;
      grid-template-areas:
        "title"
        "photo"
        "description";

      &--title {
        grid-area: title;
        max-width: 90%;
        font-size: 3.5rem;
        font-weight: 400;
      }

      &--photo {
        grid-area: photo;
        max-width: 90%;
      }

      &--description {
        grid-area: description;
        font-size: 2.3rem;
        margin: 0 auto;
        line-height: 1.7;

        &Header {
          font-size: 2.5rem;
        }
      }
    }

    &__reviews {
      grid-area: main;
    }

    &__side {
      grid-area: side;

      &--title,
      &--signUpTitle {
        max-width: 90%;
        margin: 0 auto;
      }

      &--description {
        text-transform: uppercase;
        margin: 5rem auto;
      }

      &--titles {
        max-width: 85%;
        margin: 0 auto;
        padding: 2rem;
      }

      &--signUpFormButton {
        margin-bottom: 7rem;
      }
    }
  }

  .post {
    padding: 0;

    &__title {
      font-size: 5rem;
      letter-spacing: 0.9rem;
    }

    &__navOne {
      font-size: 2rem;
      padding: 2rem;
    }

    &__main {
      &--title {
        max-width: 90%;
        font-size: 4.3rem;
        font-weight: 400;
      }

      &--photo {
        max-width: 75%;
      }

      &--description {
        line-height: 1.7;
        font-size: 3rem;
      }

      &--article {
        font-size: 2.4rem;

        & li {
          margin-bottom: 2rem;

          &:last-child {
            margin-bottom: 10rem;
          }
        }
      }

      &--about {
        max-width: 70%;
        margin-bottom: 15rem;
      }
    }
  }
}

@media screen and (min-width: 1301px) {
  .blog {
    &__title {
      font-size: 8rem;
      letter-spacing: 1rem;
      margin-bottom: 3rem;

      &--description {
        font-size: 5rem;
        margin-bottom: 6rem;
      }
    }

    &__navOne {
      font-size: 3.5rem;
    }

    &__featured {
      padding-bottom: 7rem;
    }

    &__navTwo {
      font-size: 3.5rem;
    }
  }

  .post {
    &__title {
      font-size: 7rem;
      letter-spacing: 1.5rem;
    }

    &__navOne {
      font-size: 3rem;
    }

    &__main {
      &--title {
        font-size: 6rem;
        font-weight: 400;
        padding: 5rem;
      }

      &--description {
        font-size: 4rem;
        line-height: 2;
      }

      &--article {
        font-size: 3.5rem;

        & li {
          margin-bottom: 2rem;

          &:last-child {
            margin-bottom: 15rem;
          }
        }
      }

      &--about {
        margin-bottom: 10rem;
        &Title {
          font-size: 5rem;
        }

        &Name,
        &Company {
          font-size: 3rem;
        }

        &Description {
          font-size: 2.7rem;
        }
      }
    }

    &__navTwo {
      font-size: 3.5rem;
    }
  }
}
