
$baseFontSize : 2.5rem;
$baseLinkSize : 1.9rem;
$baseLinkColor:antiquewhite;
$featuredLinkColor:rgb(66, 33, 61);
$baseFooterLinkSize : 2rem;
$mainTitleSize: 6rem;
$secondaryTitleSize: 4.5rem;
$secondaryTitleColor: antiquewhite;
$secondaryTitleBackgroundColor: rgba(66, 33, 61, 0.701);
$headerBackgroundColor: rgb(66, 33, 61);
$headerTitleColor: antiquewhite;
$baseColor: #000;
$secondaryDescriptionSize: 3rem; 
$reviewColor: antiquewhite;
$reviewBackgroundColor: rgba(66, 33, 61, 0.701);
$reviewFontSize: 2.7rem;
$upcomingTitleBackgroundColor: rgba(66, 33, 61, 0.701);
$upcomingTitleSize: 2.7rem;
$upcomingTitleColor: antiquewhite;